<div class="dashboard-main-wrapper p-0">
	<div class="bg-light text-center">
		<div class="container">
			<div class="row">
				<div class="vh-100 d-flex justify-content-center align-items-center offset-xl-2 col-xl-8 offset-lg-2 col-lg-8 col-md-12 col-sm-12 col-12">
					<div class="error-section">
						<div class="content">
							<h1 class="display-3">{{'label.page_not_found' | translate}}</h1>
							<a [routerLink]="ROUTES.DASHBOARD" class="btn btn-secondary btn-lg btn-rounded">{{'label.back_to_homepage'|translate}}</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
